<%-include('layouts/header')%>

<h3><%= article.title %></h3>
<h6>By <%= article.author %></h6>
<small><%= article.date %></small>
<p class="mt-3"><%= article.post %></p>
<br>
<br>
<br>
<a href="/article/delete/<%=article.id%>"><button class="btn btn-danger">Delete Post</button></a>

<%-include('layouts/footer')%>